/* Algemeen */
body {
    background: #CCD1D9;
    padding-top: 60px;
}
@media (max-width: 980px) {
    body {
        padding-top: 0;
    }
}

/* Formulierstijlen */
.form-panel {
    padding: 1em;
    margin-top: 30px;
}

.checkbox label, .radio label {
    position: relative;
    left: 15px;
    top: -2px;
}

/* Blogstijlen */
.blog-time {
    text-align: right;
}

.timeline dl dd .circ {
    background: #AAB2BD;
}

.timeline dl dd .time {
    color: #ffffff;
}

/* Table fix */
.table-container {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}