/* Algemeen */
body {
    background: #CCD1D9;
    padding-top: 60px;
}
@media (max-width: 980px) {
    body {
        padding-top: 0;
    }
}

/* Formulierstijlen */
.form-panel {
    padding: 1em;
    margin-top: 30px;
}

/* Blogstijlen */
.blog-time {
    text-align: right;
}

.timeline dl dd .circ {
    background: #AAB2BD;
}

.timeline dl dd .time {
    color: #ffffff;
}