/* Algemeen */
body {
    background: #48CFAD;
}
/* Formulierstijlen */
.form-panel {
    padding: 1em;
    margin-top: 30px;
}

/* Blogstijlen */
.blog-time {
    text-align: right;
}

.timeline dl dd .circ {
    background: #37BC9B;
}

.timeline dl dd .time {
    color: #ffffff;
}