{%  extends 'bootstrap/base.html' %}

{% block title %} Modeblog {% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="//cdn.madebyglutard.com/libs/bootflat/2.0.4/css/bootflat.min.css"/>
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/main.css') }}"/>
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang('nl') }}
    <script src="//cdn.madebyglutard.com/libs/bootflat/2.0.4/css/bootflat.min.css"></script>
    <script src="//cdn.madebyglutard.com/libs/bootflat/2.0.4/css/bootflat.min.css"></script>
    <script src="//cdn.madebyglutard.com/libs/bootflat/2.0.4/css/bootflat.min.css"></script>
{% endblock %}