{% extends 'dashboard.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
    {{ super() }}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default form-panel">
                    <form action="{{ url_for('create_post') }}" method="post" enctype="multipart/form-data">
                        <p>Hulp nodig met <a href="https://help.github.com/articles/markdown-basics/"
                                target="_blank">Markdown</a>?</p>
                        {{ wtf.quick_form(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}