{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                {{ super() }}
                <a href="{{ url_for('post_list') }}" class="btn btn-default btn-circle">
                    <span class="glyphicon glyphicon-th-list"></span> Posts weergeven
                </a>
                <a href="{{ url_for('create_post') }}" class="btn btn-default btn-circle">
                    <span class="glyphicon glyphicon-pencil"></span> Post schrijven
                </a>
                <a href="" class="btn btn-default btn-circle">
                    <span class="glyphicon glyphicon-cog"></span> Instellingen
                </a>
            </div>
        </div>
    </div>
    <br/>
{% endblock %}