{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-offset-1">
                <h1>Mijn blog</h1>
                <hr/>
                {{ wtf.quick_form(form) }}
                {% if count > 0 %}
                    <hr/>
                    <ul>
                    {% for post in posts %}
                        <li>{{ post['content'] }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}