{% extends 'dashboard-menu.html' %}
{% block content %}
    {{ super() }}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Titel</th>
                            <th>Datum aangemaakt</th>
                            <th>Acties</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                            <tr>
                                <td>{{ post.title }}</td>
                                <td>{{ moment(post.created_at).format('DD MMMM YYYY') }}</td>
                                <td class="text-center">
                                    <a href="{{ url_for('remove_post', post_id=post.id) }}" >
                                        <button class="btn-danger">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}